body {
    color: white;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;

}

header::before {
    content: "";
    background: url(Resturant-Pic.jpg) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar .logo img {
    height: 70px;
    width: 110px;
    margin-top: 18px;
    margin-left: 93px;
    border-radius: 50%;
}

.navigation {
    font-size: 20px;
    display: flex;
    margin-right: 60px;
}

li {
    list-style: none;
    padding: 10px 23px;
}

li a {
    color: wheat;
    text-decoration: none;
}

section {
    margin: 3px 23px;
    height: 344px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.mid h3 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    text-align: center;

}

.mid h1 {
    margin-top: 30px;
    padding: 0;
    text-decoration: dotted underline;
    font-size: 5rem;
    text-align: center;

}

.mid p {
    margin-top: 30px;
    margin-left: 300px;

    padding: 0;

    font-size: 20px;
    text-align: center;
    height: 240px;
    width: 950px;


}

.order {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;


}

.btn {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 60px;
    width: 170px;
    color: wheat;
    background-color: rgb(20, 14, 14);
    border-radius: 10px;
    font-size: medium;

}